.DS_Store
node_modules
/dist
./**/*.js

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 忽略所有第二層資料夾以後的 *.js 檔案
/**/*.js
/**/*.js.map

# 不忽略第一層資料夾裡面的 *.js 檔案
!/*.js